#image: docker:latest
#https://gitlab.com/gitlab-com/support-forum/issues/950#note_15025732
#services:
#- docker:dind

image: jonaskello/docker-and-compose:1.12.1-1.8.0
services:
  - docker:1.12.1-dind

# define different pipelines for our jobs
stages:
  - build
  - test
  - release
  - deploy

before_script:
- docker info

variables:
  # https://gitlab.com/gitlab-org/gitlab-ce/issues/17861
  DOCKER_DRIVER: overlay

# TODO: phpcodesniffer
# make sure our source code adheres to coding standards
build:phpcs:
  stage: build
  image: denisura/phpcs
  script:
    - phpcs --standard=psr2 --error-severity=1 --warning-severity=8 --report=full src

build:
  stage: build
  script:
  # tell app we are testing environment dotenv
  - cp .env.testing app/public/.env
  # first build and run all docker containers
  - docker-compose up -d
#  - docker-compose up --build -d
# ensure containers are up
  - docker-compose ps
  # ensure code is checked out and mounted in containers
  - docker exec opencounter-slim-codenv-php-fpm ls -al /var/www/opencounter-slim-codenv
  - docker exec opencounter-slim-codenv-webserver ls -al /var/www/opencounter-slim-codenv
  - docker exec opencounter-slim-codenv-php-fpm pwd
  # TODO composer install app dependencies
  - docker run --rm -v $(pwd)/app:/app composer/composer install
  # TODO: Run bash script to migrate db and execute tests on container or run tests individually from here
  #- docker exec opencounter-slim-codenv-php-fpm /var/www/opencounter-slim-codenv/bin/run-tests.sh
  #- docker run acolono/php7-fpm:latest ls -al /var/www/opencounter-slim-codenv
  #- docker exec acolono/php7-fpm:latest /var/www/opencounter-slim-codenv/bin/run-tests.sh
  - docker exec opencounter-slim-codenv-php-fpm ./bin/phinx migrate -c ./phinx.yml --environment testing

  - docker exec opencounter-slim-codenv-php-fpm ./bin/behat -c ./behat.yml
  - docker exec opencounter-slim-codenv-php-fpm ./bin/phpunit --configuration ./tests/phpunit/phpunit.xml
  - docker exec opencounter-slim-codenv-php-fpm ./bin/phpspec run --format=pretty --config ./tests/phpspec/phpspec.yml -v
  artifacts:
    name: "$CI_BUILD_NAME-behatreports"
    untracked: true
    paths:
    - tests/behat/reports/html/behat
    expire_in: 1 week



# TODO changelog &releasenotes
# When we merge code into master branch
# Then we want changelog to be generated
release:changelog:
  stage: release
  only:
    - master
  image: ruby:2.3
  script:
    # make sure we have the gem to generate changelog (runner should already have this in its path)
    - gem install github_changelog_generator
    # generate changelog
    - github_changelog_generator acolono/opencounter_api
  artifacts:
    name: "$CI_BUILD_NAME-changelog"
    untracked: true
    paths:
    - CHANGELOG.md
    expire_in: 1 week


# todo: deploy pages
# When we merge code into master branch
# Then we want github or gitlab pages with the generated documentation
pages:
  stage: deploy
  only:
    - master
  script:
    # static swagger json for swaggercodegen or swaggereditor to consume
    - bin/swagger public src configuration vendor/rosenstrauch/opencounter_api_core/src --bootstrap configuration/constants.php --output .public/docs/swagger.json
    # phpdocumentor generated html documentation
    - docker run --rm -v $(pwd):/app composer/composer global require "phpdocumentor/phpdocumentor:2.*"
    - ~/.composer/vendor/bin/phpdoc -d ./src -t ./public/docs/slimcounter
  allow_failure: true
  # Store resulting changelog as artifact
  artifacts:
    name: "$CI_BUILD_NAME-docs"
    untracked: true
    paths:
    - public/docs/
    expire_in: 1 week
# When we merge code into master branch
# Then we use swagger-codegen-cli generate something usefull from swagger.json created during "pages" job

# todo: swagger codegen

deploy:swagger:
  stage: deploy
  only:
    - master
  image: jimschubert/swagger-codegen-cli
  script:
    # generate client from swagger.json
    - generate -i ./docs/swagger.json -o ./docs/swagger/
  artifacts:
    name: "$CI_BUILD_NAME-swaggercli"
    untracked: true
    paths:
    - docs/swagger
    expire_in: 1 week


# TODO: Docker semver tag and publish
#docker tag my-image my-registry:5000/my-image
#docker push my-registry:5000/my-image
# When we merge code into master branch
# Then tag new version


# TODO: phpdocumentor
# todo: deploy stage