
version: '2'

services:
  opencounter-slim-codenv-mysql:
    image: mysql:5.5
    container_name: opencounter-slim-codenv-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=testing
      - MYSQL_DATABASE=testing_db
      - MYSQL_USER=testing
      - MYSQL_PASSWORD=testing
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    extends:
      file: common.yml
      service: mysql

  opencounter-slim-codenv-webserver:
    image: phpdockerio/nginx:latest
    container_name: opencounter-slim-codenv-webserver
    hostname: opencounter-slim-codenv-webserver
    ports:
     - "8080:80"
    links:
      - opencounter-slim-codenv-php-fpm
    depends_on:
      - opencounter-slim-codenv-php-fpm
    extends:
      file: common.yml
      service: webserver

  opencounter-slim-codenv-php-fpm:
    container_name: opencounter-slim-codenv-php-fpm
    environment:
      - MYSQL_ROOT_PASSWORD=testing
      - DB_HOST=opencounter-slim-codenv-mysql
      - MYSQL_DATABASE=testing_db
      - MYSQL_USER=testing
      - MYSQL_PASSWORD=testing
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    hostname: opencounter-slim-codenv-php-fpm
    links:
      - opencounter-slim-codenv-mysql
    depends_on:
      - opencounter-slim-codenv-mysql
    extends:
      file: common.yml
      service: php