
version: '2'

services:
  opencounter-slim-codenv-mysql:
    image: mysql:5.7
    container_name: opencounter-slim-codenv-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=docker
      - MYSQL_DATABASE=development_db
      - MYSQL_USER=docker
      - MYSQL_PASSWORD=docker
    extends:
      file: common.yml
      service: mysql

  opencounter-slim-codenv-webserver:
    image: phpdockerio/nginx:latest
    container_name: opencounter-slim-codenv-webserver
    hostname: opencounter-slim-codenv-webserver
    volumes:
        - ./app:/var/www/opencounter-slim-codenv
        - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
     - "8080:80"
    links:
      - opencounter-slim-codenv-php-fpm
    extends:
      file: common.yml
      service: webserver

  opencounter-slim-codenv-php-fpm:
    build:
      context: ./php-fpm/
    image: acolono/php7-fpm:latest
    container_name: opencounter-slim-codenv-php-fpm
    hostname: opencounter-slim-codenv-php-fpm
    volumes:
     - ./app:/var/www/opencounter-slim-codenv
      - ./php-fpm/php-ini-overrides.ini:/etc/php/7.0/fpm/conf.d/99-overrides.ini
    links:
      - opencounter-slim-codenv-mysql
    extends:
      file: common.yml
      service: php


  swaggerui:
    hostname: swaggerui.opencounter.docker
    image: schickling/swagger-ui
    container_name: opencounter-slim-codenv-swaggerui
    environment:
      API_URL: http://localhost:8080/api

  phpmyadmin:
    hostname: mysql.opencounter.docker
    image: phpmyadmin/phpmyadmin
    container_name: opencounter-slim-codenv-phpmyadmin
    environment:
     - PMA_ARBITRARY=1
     - PMA_HOST=database
    ports:
     - "8181:80"

  #ssh:
  #  image: jeroenpeeters/docker-ssh
  #  volumes:
  #    - /var/run/docker.sock:/var/run/docker.sock
  #    - /usr/bin/docker:/usr/bin/docker
  #  environment:
  #    - CONTAINER=opencounter-slim-codenv-php-fpm
  #    - AUTH_MECHANISM=noAuth
  #  ports:
  #    - "2222:22"